.card{
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    
}
.card--sm{
    @include media-breakpoint-up(sm) {
        @include size(128px);
        font-size: 20px;
        span{
            font-size: 40px;
          margin-bottom: 8px;
        }
    }
    @include size(72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#888888;
    font-size: 16px;
    cursor: pointer;
    span{
        font-size: 24px;
        margin-bottom: 4px;
    }
    &:hover{
        border: 3px solid $secondary;
        color: $primary;
        span{
            color:$light;
        }
    }
   
}
.card--sm.active{
    border: 3px solid $secondary;
    color: $primary;
    span{
        color:$light;
    }
}
.card__img{
    border:5px solid #fff;  
}
.card__photo{
    @include size(100px);
    border-radius: 50%;
    border:1px solid #fff;
    margin:-50px  auto 4px;
}

.card__title{
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 16px;
}
.card__text{
    font-size: 14px;
 
}
.card__comment{
    color:$light;
    margin-bottom: 7px;
    line-height: 1;
    span{
        font-size: 16px;
    }
    
}
.card__footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    span{
        margin-right: 4px;
        vertical-align: sub;
    }
    
}