.pagination{
    display: flex;
    justify-content: flex-end;
   
}
.pagination__link{
    padding:10px 16px ;
    border:1px solid #DEE2E6;
    margin-right: -1px;
    &:hover{
        background-color: $dark;
    }
}