
.bg-cover{
    background-size: cover;
}
.bg-center{
    background-position: center center;
}

.bg_service{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/petpet-week8/index-9.jpeg?raw=true);
    background-repeat: no-repeat;
}
