.hover-filter-brightness__1{
    &:hover{
        transition: all 0.5s;
        filter: brightness(1);
    }
}
.hover__bg---gray{
    &:hover{
        background-color: #F0F0F0;
    }
}
.hover__bg--light{
    &:hover{
        background-color: rgba($light,0.5);
    }
}